@value desktop from "../../assets/breakpoints.module.css";

.container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 1024px;
    max-width: 90vw;
}

@media (min-width: desktop) {
    .container {
        max-width: 80vw;
    }
}
