.btn-close {
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 50%;
}

.subtitle {
    font-size: small;
    margin-bottom: 0.5em;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.5em;
}
