.FilterModal {
    .modal.modal-blur.fade.show {
        padding-right: 1rem;
        display: block;
        width: 100vw;
        overflow-y: auto;
    }

    .modal-dialog .modal-content {
        border-radius: 1rem;
        border: none;
        padding: 1rem;
    }

    .modal-content .modal-header {
        border-bottom: none;
    }

    .modal-content .modal-footer {
        border-top: none;
        justify-content: center;
        // settings buttons
        &.settings {
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }

    .modal-title {
        font-size: larger;
    }

    .btn-close {
        display: flex;
        justify-content: center;
        padding: 0.3rem;
        border-radius: 50%;
    }

    .btn-primary {
        border-radius: 1rem;
        color: white;
        cursor: pointer;
        svg {
            height: 1rem;
            vertical-align: sub;
        }
    }

    .subtitle {
        font-size: small;
        margin-bottom: 0.5em;
    }

    .filter-row {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 1.5em;
    }
}
