@import "../../../assets/main.scss";

.hr {
    position: relative;
    width: 90%;
    margin: 1.2rem auto;
    height: 1px;
}

.hrText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -1rem;
    white-space: nowrap;
    padding: 0.33rem;
    font-size: $font-size-sm;
}
