.b-head a,.date-line{letter-spacing:1px}
body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-weight:400;background-color:#2B2E4D; font-size:1.8rem;}
.container{display:block;padding:10px 15px}
.block {display:block;width:100%;margin-bottom:25px;color:rgba(255,255,255,.6);font-size:1.8rem; line-height:1.5;}
.date-line{background:transparent; text-align: center; font-weight:500;margin-top:50px;}
a{font-size:2.1rem;line-height:1.5;font-weight:500;color:#FFF; text-decoration:none;}
.btn{padding:25px;border-radius:10px; height:50px;min-width:50px;display:block;text-align:center;}
.b-head {border-radius:25px 25px 0 0;width:380px;line-height:1.5;padding:22px 25px}
.b-head a {text-transform:uppercase;}
.b-body {border-radius:0 10px 10px 10px;display:flex;padding:25px;}
.b-head,.b-body .b-left {text-align:left;}
.b-left{flex-grow: 1;min-width: 0;}
.b-build {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.b-right {height:100px;display:flex;align-items: center;justify-content: flex-end;flex:1 0 auto;}
.b-diff a{text-decoration:none}
.b-diff .btn{background-color:rgba(255,255,255,.4);color:#76A8FF;margin-right:25px;}
.b-master{color:#ABE9DB;}
.b-master .b-head {background-color:#2cc5a4;}
.b-master .b-body {background-color:#35D1AF;}
.b-master .b-download .btn{background-color:#18aa8b}
.b-master .b-diff .btn{color:#35D1AF}
.b-master.in-progress .b-body{background: repeating-linear-gradient(-55deg,#2cc5a4,#2cc5a4 15px,#35D1AF 15px,#35D1AF 30px);}
.b-pull{ color:#CBC4EC;}
.b-pull .b-head {background-color:#7f70ce;}
.b-pull .b-body {background-color:#8878D7;}
.b-pull .b-download .btn{background-color:#6350C8}
.b-pull .b-diff .btn{color:#8878D7}
.b-pull.in-progress .b-body{background: repeating-linear-gradient(-55deg,#7f70ce,#7f70ce 15px,#8878D7 15px, #8878D7 30px);}