.badge {
    position: absolute;
    display: flex;
    transform: translate(-25%, -50%);
    padding: 0.2rem 0.3rem;
    background-color: var(--bg-page);
    color: var(--text-sectionTitle);
    font-size: x-small;
    border-radius: 3px;
    white-space: nowrap;
    box-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.4);
}

.container {
    position: relative;
    height: 1rem;
    color: var(--text-link);
}

.link {
    height: 100%;
    margin-left: 0px;
}
