@import "../../../assets/main.scss";

.badge {
    position: absolute;
}

.copy-link-icon {
    display: none;
    @include xs {
        cursor: pointer;
        display: block;
        height: 1rem;
        &.block {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 0.5rem;
        }
    }
}
