@import "../../../assets/main.scss";

.badge {
    position: absolute;
}

.copyLinkIcon.inline {
    cursor: pointer;
    display: flex;
    svg {
        height: $font-size-sm;
    }
    @include xs {
        display: none;
    }
}

.copyLinkIcon.block {
    display: none;
    @include xs {
        display: flex;
        cursor: pointer;
        width: 100%;
        justify-content: center;
        margin-top: 0.5rem;
    }
}
