@import "../../../assets/variables";

.MessageModal {
    .modal.modal-blur.fade.show {
        padding-right: 15px;
        display: block;
        // top: 10vmin;
        // left: 0;
        // right: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .modal-dialog .modal-content {
        border-radius: 15px;
        border: none;
        padding: 15px;
        padding-top: 25px;
        padding-left: 10vmin;
        padding-right: 10vmin;
        color: $body-bg-dark;
        background-color: #f7d68e;
        text-align: center;
        max-width: 80vmin;
        max-height: 90vmin;
    }

    .modal-content .modal-header {
        border-bottom: none;
    }

    .modal-content .modal-footer {
        border-top: none;
        justify-content: center;
        flex-basis: 100%;
    }

    .modal-title {
        font-size: larger;
        flex-basis: 100%;
    }

    button.btn.btn-sm.btn-shadow {
        background-color: transparent;
        border-width: 1px;
        border-radius: 15%;
        border-color: darken(#f7d68e, 20%);
        box-shadow: 0px 0.25rem 0px darken(#f7d68e, 30%);
        border-style: solid;
        &:hover {
            background-color: darken(#f7d68e, 10%);
        }
    }
}
