@import "../../../assets/main.scss";

.homeContainer {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    // overflow: hidden;
    // border: 1px solid red;
}

.homepageWrapper {
    flex-basis: 100%;
    flex-shrink: 0;
    font-family: $font-stack;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    // overflow: hidden;
}

.footer {
    // flex: 0 1 100%;
    width: 100%;
    height: 0;
    padding: 1.25rem;
    // bottom: 0;
}
