@import "../../../assets/main.scss";

.homeContainer {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.homepageWrapper {
    flex-basis: 100%;
    flex-shrink: 0;
    font-family: $font-stack;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer {
    flex: 0 1 auto;
    width: 100%;
    padding: 1.25rem;
}
