{{define "title"}}{{.job|jobToKind}}{{end}}


{{define "head"}}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/{{.job|jobToKind}}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/{{.job|jobToKind}}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/{{.job|jobToKind}}/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/{{.job|jobToKind}}/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/{{.job|jobToKind}}/safari-pinned-tab.svg" color="#262844">
{{end}}

{{define "content"}}
<div class="page-head">
  <div class="ph-left">
    <div class="ph-icon">{{.job | jobToPlatformIcon | safeHTML}}</div>
    <div class="ph-text"><b>{{.job|jobToPlatform}}</b> builds for Berty app, <b>{{.job|jobToKind}}</b> version</div>
  </div>
</div>
<div class="page-container">
  {{block "release-list-partial" (dict "dates" .ReleasesByDate "job" .job) }}{{end}}
</div>
{{end}}
