.header--yl {
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  width: 100%;
  align-items: center;
}

.yoloLogo {
  margin-right: 36px;
}

.headerUser {
  margin-left: auto;
}
