@import "variables";
@import "breakpointMixins";

// global tabler css overrides

.btn:focus {
    box-shadow: none;
}

.btn-loading {
    color: currentColor !important;
    opacity: 0.4;
}

.btn-loading:after {
    border: 2px solid var(--blue);
}

.btn.btn-primary.disabled,
.btn.btn-sm.disabled,
.btn.btn-sm.disabled:hover,
.btn.btn-primary:disabled {
    cursor: auto;
    border: none;
    transition: all 0.15s ease-in-out;
}

.btn:not([class^="btn-outline"]):not([class*=" btn-outline"]),
.btn.btn-primary:not([class^="btn-outline"]):not([class*=" btn-outline"]):not([class^="btn-ghost"]):not([class*=" btn-ghost"]):not(:focus):not(.focus),
.btn.btn-primary:not([class^="btn-outline"]):not([class*=" btn-outline"]):not([class^="btn-ghost"]):not([class*=" btn-ghost"]):not(.btn-secondary) {
    border: none;
    padding: 0.2rem 0.5rem;
    letter-spacing: 0.03rem;
    border-radius: 1rem;
    text-transform: uppercase;
    box-shadow: none;
}

// my global stuff

.faded {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1049;
    background-color: black;
    opacity: 0.4;
}

.github-corner {
    visibility: hidden;
    @include xs {
        svg {
            visibility: visible;
        }
    }
}
