@import 'variables';
@import 'breakpointMixins';

// global tabler css overrides

.btn:not([class^='btn-outline']):not([class*=' btn-outline']),
.card .btn,
.btn.btn-primary:not([class^='btn-outline']):not([class*=' btn-outline']):not([class^='btn-ghost']):not([class*=' btn-ghost']):not(:focus):not(.focus),
.btn.btn-primary:not([class^='btn-outline']):not([class*=' btn-outline']):not([class^='btn-ghost']):not([class*=' btn-ghost']):not(.btn-secondary) {
  border: none;
  padding: 3px 8px 3px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 15px;
}

.faded {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1049;
  background-color: black;
  opacity: 0.4;
}
