@import "fontsource-open-sans/600.css";

:root {
    --radius-sm: calc(0.6rem);
    --radius-md: calc(1rem);
    --shadowSize-btn: 0px 4px 0px;
    --font-stack: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --compact-multiplier: 0.8;
}

@media (min-width: 340px) {
    :root {
        --compact-multiplier: 0.875;
    }
}

@media (min-width: 688px) {
    :root {
        --compact-multiplier: 1;
    }
}
