@import "./assets/main";

html {
    font-size: 12px;
    @include xs {
        font-size: 16px;
    }
}

#app {
    min-height: 100vh;
    height: 100%;
    font: 100% $font-stack;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $body-bg-dark;
        color: $body-color-dark;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: $body-bg-light;
        color: $body-color-light;
    }
}
