{{define "base"}}
<html>
  <head>
    <title>{{block "title" .}}{{end}} - Berty</title>
    <meta http-equiv="refresh" content="30">
    <link rel="stylesheet" href="/assets/site.css">
    {{block "head" .}}{{end}}
    <meta name="msapplication-TileColor" content="#262844">
    <meta name="theme-color" content="#262844">
  </head>
  <body>
    {{block "content" .}}{{end}}
  </body>
</html>
{{end}}
