@import '../../../assets/main.scss';

.Filters {
  display: flex;

  .widget-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 15px;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    margin-right: 0.75em;
    svg {
      margin-left: 10px;
    }
    svg:first-child {
      margin-left: 0px;
    }
    .is-interactive {
      cursor: pointer;
    }
  }

  p.widget-text {
    font-size: 0.8em;
    padding: 0px;
    margin: 0px;
    margin-left: 1em;
    &.no-svg {
      margin-left: 0em;
    }
  }
}
