p,
div,
.card div,
.card p {
  padding: 0px;
}

.card div.card-row--yl {
  display: flex;
  margin: 0px;
  padding: 15px;
  width: 100%;
  border: none;
  align-items: center;
  height: 100%;
  margin-bottom: 16px;
  &.expanded {
    border-bottom: 1px solid gray;
  }
}

.card div.card-row--yl .card-left-icon--yl {
  height: 100%;
  margin-right: 0.8em;
  &.rotate-merge--yl {
    transform: rotate(90deg);
  }
  &.icon-top--yl {
    align-self: flex-start;
  }
}

.card div.card-row--yl .card-title--yl {
  height: 100%;
  padding: 0px;
  margin: 0px;
  flex: 0 0 auto;
  margin-right: auto;
}

.card div.card-row--yl .card-author--yl {
  font-size: smaller;
  margin-right: 8px;
}

.card div.card-row--yl .card-avatar--yl {
  margin-right: 16px;
}

// Build body

.card div.card-row--yl .card-details--yl {
  display: flex;
  flex-flow: row wrap;
  margin-right: auto;
  width: 100%;
  .card-details-row--yl {
    display: flex;
    width: 100%;
    flex-basis: 0 0 100%;
    margin-bottom: 16px;
    div {
      margin-right: 16px;
    }
  }
}

.card div.card-row--yl .card-build-actions--yl {
  height: 100%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  div,
  a {
    margin-bottom: 8px;
  }
  a {
    cursor: pointer;
  }
}
