@import '../../../assets/main.scss';

.BuildCard {
  p,
  div,
  .card div,
  .card p {
    padding: 0px;
    min-width: 0;
  }

  .cursor-default {
    cursor: default;
  }

  .plaintext {
    text-transform: none;
    &.light {
      color: $body-color-light;
    }
    &.dark {
      color: $body-color-dark;
    }
  }

  pre {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    display: block;
    text-shadow: none;
  }

  div.card {
    max-width: 100vw;
    min-width: 0;
  }

  .card div.card-row {
    display: flex;
    margin: 0px;
    padding: 15px;
    width: 100%;
    align-items: center;
    height: 100%;
    margin-bottom: 16px;
    &.expanded {
      border-bottom: 1px solid gray;
    }
    a {
      cursor: pointer;
    }
    .interactive-text {
      cursor: pointer;
      text-decoration: none;
    }
  }

  .card div.card-row .card-left-icon {
    display: none;
    @include xs {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      min-width: 0.9rem;
      margin-right: 0.8rem;
      flex-shrink: 0;
      &.icon-top {
        align-self: flex-start;
        margin-bottom: 8px;
      }
      &.rotate-merge {
        transform: rotate(90deg);
      }
      &.gh-merged {
        color: $color-gh-merged-purple;
      }
    }
  }

  .card div.card-row .card-title {
    padding: 0px;
    margin: 0px;
    flex: 0 1 auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    @include lg {
      flex-wrap: nowrap;
      white-space: unset;
    }
    .short-card-title {
      flex: 1 1 100%;
      white-space: nowrap;
      @include lg {
        flex: 1 1 auto;
        white-space: unset;
      }
    }
    .card-mr-subtitle {
      display: none;
      @include xs {
        display: block;
      }
      font-size: 0.9rem;
      margin-top: 0.2rem;
      margin-left: 0px;
      flex: 0 1 100%;
      @include lg {
        font-size: 1.125rem;
        flex: 0 1 auto;
        margin-top: 0px;
        margin-left: 8px;
      }
    }
  }

  .card div.card-row .card-author {
    display: none;
    @include sm {
      display: auto;
      font-size: small;
      margin-right: 12px;
      flex-shrink: 0;
    }
  }

  .card div.card-row .card-avatar {
    margin-right: 4px;
    @include xs {
      margin-right: 0.75rem;
    }
    flex-shrink: 0;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
    }
    img {
      margin: 0px;
      padding: 0px;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 15%;
    }
  }

  // Build body

  .card div.card-row .card-details {
    display: flex;
    flex-flow: row wrap;
    margin-right: 8px;
    flex-basis: 100%;
    font-size: 0.9rem;
    @include md {
      font-size: 1rem;
    }
    .card-details-row {
      display: flex;
      flex: 1 1 100%;
      flex-wrap: wrap;
      margin-bottom: 16px;
      align-items: center;
      min-height: 30px;
      > * {
        margin-right: 10px;
        margin-bottom: 8px;
      }
      &.artifact-local-path {
        display: none;
        @include sm {
          font-size: 0.9rem;
          min-width: 0;
          display: block;
          word-wrap: unset;
          white-space: unset;
          overflow-wrap: anywhere;
        }
      }

      div.btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        &.details {
          font-size: 0.95rem;
          letter-spacing: normal;
          padding-left: 0;
          margin-left: 0;
          svg {
            margin-right: 5px;
          }
        }
        &.normal-caps {
          text-transform: none;
        }
        svg {
          height: 1rem;
          width: 1rem;
          min-width: 1rem;
          min-height: 1rem;
          @include xs {
            height: 1rem;
            width: auto;
            min-width: 0;
            min-height: 0;
          }
        }
        &.btn-branch-name {
          word-wrap: unset;
          white-space: unset;
          text-align: left;
          min-height: 0;
        }
      }
      .flex-basis-100 {
        flex-basis: 100%;
      }
    }
  }

  .card div.card-row .card-build-actions {
    height: 100%;
    align-self: flex-start;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    div,
    a {
      margin-bottom: 8px;
    }
    .btn {
      // download, alert
      flex-shrink: 0;
      flex-grow: 0;
      box-sizing: border-box;
      svg,
      span {
        margin-top: 0.25rem;
        margin-bottom: -0.25rem;
      }
    }
  }
}
